@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@100;300;400;500;700;800;900&display=swap');

body {
    font-family: "Lato", "sans-serif";
    background-color: #F2F5F9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    background-color: white;
}

.heroImg {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}

.hero {
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 78%;
    left: 0;
    background-image: url("white-overlay.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    z-index: 1;
}

.content {
    padding: 20px 0;
}

.contentBody {
    border-bottom: 1px solid #F2F5F9;
}

.title {
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 700;
    padding: 0 30px 20px;
}

.text {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 30px 20px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 180px;
}

.avatarImgBorder {
    background-color: #F2F5F9;
    border-radius: 180px;
    width: 42px;
    height: 42px;
    padding: 2px 0 0 2px;
}

.avatar {
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    font-size: 1rem;
}

.name{
    font-weight: 700;
    padding-bottom: 5px;
}

.job{
    font-weight: 300;
}